<html>
    
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' type='text/css' href='/resources/css/accounts.css'/>
        <title>%text_wallets%</title>
    </head>
    
    <body>

        <table>
            <tr>
                <td>%text_account_name%</td>
                <td>%text_account_description%</td>
                <td>%text_currency_name%</td>
                <td>%text_balance%</td>
                <td>%text_delete%</td>
                <td>%text_edit%</td>
            </tr>
            %%DATA%%
        </table>

    </body>

</html>