<html>
    <head>
        <meta charset="utf-8">
        <title>Finance Libre</title>

        <link rel='stylesheet' type='text/css' href='/resources/css/home.css'/>

    </head>



    <script>
        function setURL(url){
            fr = document.getElementById("mainContent").src = url;
        }
    </script>

    <body>

        <div class='wrapper'>

            <header>
                <cp class='title'> %title% - </cp>
                <cp class='subtitle1'> %MOTTO% </cp>
            </header>

            <nav class='nav'>
                <a class="head_button" OnClick='setURL("?action=moove");'>%text_moovement%</a>
                <a class="head_button" OnClick='setURL("?action=HISTORY");'>%text_History%</a>
                <a class="head_button" href='?action=LOGOUT'>%text_logout%</a>

            </nav>
            
            <div class='iframe'>
                <iframe src='%%MAIN_IFRAME_URL%%' id='mainContent'>

                </iframe>
            </div>

        </div>
        
        

    </body>

</html>