<html>

    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='/resources/css/login.css'/>

        <title>Finance Libre - Login</title>

    </head>

    <body>

        <div class='wrapper'>
            <form action='/actions/session/login.php' method='POST'>
                <div class='inwrapper'>
                    <div>
                        <input type='text' placeholder='%text_username%' name='username' id='username' value='%%USERNAME%%'/>
                    </div>
                    <div>
                        <input type='password' placeholder='%text_password%' name='password' id='password'/>
                    </div>
                    <div>
                        <input type='submit' name='login' value='%text_login%' id='send'/>
                    </div>
                    <div class='error'>
                        %%ERROR%%
                    </div>
                </div>
            </form>
            <div>
                <!--a href='/?action=REGISTER'>Register</a-->
            </div>  
        </div>


    </body>

</html>