<html>

    <head>
        <title>%text_transactions%</title>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='/resources/css/transactionTable.css'>

    </head>

    <body>

        <table>
            <tr>
                <td>%text_transaction_name%</td>
                <td>%text_transaction_description%</td>
                <td>%text_transaction_from%</td>
                <td>%text_transaction_to%</td>
                <td>%text_transaction_ammout%</td>
                <td>%text_transaction_date%</td>
                %%DATA%%
            </tr>
            
        </table>

    </body>

</html>